@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Header css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e6edf7;
    z-index: 1000;
    padding: 10px 20px;
    border-bottom: 3px solid #3399ff;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;

}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav li {
    margin-right: 10px;
    position: relative;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: normal;
    letter-spacing: 1px;
    color: #3399ff;

}

header form {
    display: flex;
}

nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e6edf7;
    padding: 10px;
    min-width: 150px;
    text-align: center;
}

nav li:hover ul {
    display: block;
    color: #585858;
}

body {
    padding-top: 60px;
}

nav a {
    text-decoration: none;
    color: #3399ff;
    font-family: "Open Sans";
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #585858;
}

nav li ul li {
    text-align: center;
}

.título {
    font-family: "Open Sans";
    color: #726f6f;
    font-weight: 400;
    font-size: medium;
}

.imagen {
    display: block;
    margin: 0 auto;
}

.imagen {
    margin-top: -30px;
}

.menu-inicio {
    text-align: center;
}

.menu-inicio .menu {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    color: #000;
    padding: 10px;
    text-align: center;
}

.linea {
    border: 0;
    height: 2px;
    background-color: #000;
    margin-top: 2px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

/* Main css */

.content {
    display: flex;
}

main {
    flex: 3;
}

.fecha {
    color:  #848484;

}
.titulo-principal  {
    background-color:  #e6edf7;
    color:  #848484;
    font-size: 35px;
    line-height: normal;
    letter-spacing: 5px;
    text-align: center;
    
    
    
   
    
}

.text-formateado {
    font-family: "Open Sans";
    font-size: 15.4px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: justify;
    color: #666666;
    padding: 20px;
    white-space: pre-wrap; 
    max-width: 700px;
    margin: 30px auto;
}

imagen {
     display: block;
     margin: 20px auto;
     max-width: 100%;
}

.pie-imagen {
    text-align: center;
    font-size: 13px;
    color: #999999;
    font-family: "Open Sans" sans-serif;
    margin-top: -10px;
    }
    
.text-formateado {
    font-family: "Open Sans";
    font-size: 15.4px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: justify;
    color: #666666;
    padding: 20px;
    white-space: pre-wrap; 
    max-width: 700px;
    margin: 30px auto;
}

.imagen {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.pie-imagen {
    text-align: center;
    font-size: 13px;
    color: #999999;
    font-family: "Open Sans" sans-serif;
    margin-top: -10px;
}

.text-formateado {
    font-family: "Open Sans";
    font-size:  15.4px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: justify;

}
   .etiquetas {
    text-align: justify;
    font-family: "Open Sans";
    font-size: 15.4px;
    color: #666666;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
    
    
 }
 .etiquetas a {
    color: #66b3ff;
    text-decoration: none;
    margin-left: 5px;

 }

 .etiquetas a:hover {
    text-decoration:  underline;
 }

 .line-punteada {
    border-top: 4px dotted;
    margin-top: 15px;
 }
    
   
    








 
/* Comments section css */

/* Aside css */

.aside {
    flex: 1;
}

.aside-title {
    font-weight: bold;
    background-color: #eda0c7;
    color: #d93d8b;
    align-items: center;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 10px;
    text-align: center;
}

.aside-content ul {
    list-style: none;
    padding: 0;
}

.aside-content li {
    margin: 0 15px;
    text-transform: uppercase;
}

.aside-submenu {
    text-align: center;
}


.aside-content a {
    text-decoration: none;
    color: #3399ff;
}

.aside-content a span {
    color: #a1a1a1;
}

.aside-entry {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.aside-entry img {
    width: 50px;
    height: 50px;
}

.aside-entry-text {
    margin-left: 10px;
}

.aside-followers {
    display: flex;
    flex-direction: column;
}

.aside-followers img {
    width: 200px;
    height: 100px;
    margin: 0 20px;
}

.aside-followers button {
    margin: auto;
    background-color: #5690f0;
    color: white;
    border-radius: 3px;
    border: none;
}

/* Footer css */